.people {
    /*margin: 10px;*/
    position: fixed;
    margin: 50px 20px 20px 20px;
    display: block;
    color: silver;
    height: 60vh;
    width: 15vh;
    overflow: auto;
    padding: 30px;
}

.singlePeople {
    display: block;
}

.people::-webkit-scrollbar,
.messages::-webkit-scrollbar {
    width: 5px;

}

.people::-webkit-scrollbar-thumb,
.messages::-webkit-scrollbar-thumb {
    background-color: rgba(64, 62, 62, 0.2);
    border-radius: 50px;
}

.active {
    color: black;
}